<script src="@Url.Content("~/Scripts/jquery-1.5.1-vsdoc.js")" type="text/javascript"></script>

@model IEnumerable<FabrikamFiber.DAL.Models.ServiceTicket>

@{
    ViewBag.Title = "Service Tickets";
}

<h1>@ViewBag.Title</h1>

<p>@Html.ActionLink("Create New", "Create", null, new { @class = "glossyBox createNew" })</p>

<table class="dataTable">
    <tr>
        <th>Ref</th>
        <th>Status</th>
        <th>Escalation</th>
        <th>Title</th>
        <th>Assigned To</th>
        <th>Time Open</th>
    </tr>

@foreach (var item in Model) {
    <tr class="actionrow">
        <td>@Html.ActionLink(string.Format("A0141{0:d2}", item.ID), "Details", new { id = item.ID })</td>
        <td>@item.Status</td>
        <td>Level @item.EscalationLevel</td>
        <td ><div style="width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Title</div></td>
        <td>@(item.AssignedTo == null ? "None" : item.AssignedTo.FullName)</td>
        <td>@item.TimeOpen</td>
    </tr>
}
</table>


