@model FabrikamFiber.DAL.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">First Name</div>
    <div class="display-field">@Model.FirstName</div>

    <div class="display-label">Last Name</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Address</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Address).ToString()</div>

    <div class="display-label">Phone</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Phone).ToString()</div>

    <div class="display-label">Requested Tickets</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.RequestedTickets).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


